In [1]:
import pandas as pd

In [2]:
odpady = pd.read_csv("Data_odpady.csv", index_col="Nazev_uzemi")

odpady = odpady.sort_index()
odpady

,Kod_uzemi,Smesneho_odpadu (t),Pocet_obyvatel,Prumer (t/1os),Kraj
Nazev_uzemi,,,,,
Aš,4101,6275.974606,16.978,369.65,Karlovarský kraj
Benešov,2101,18958.255519,60.662,312.52,Středočeský kraj
Beroun,2102,19175.159245,65.149,294.33,Středočeský kraj
Blansko,6201,12056.759658,56.233,214.41,Jihomoravský kraj
Blatná,3101,3156.153805,13.392,235.67,Jihočeský kraj
...,...,...,...,...,...
Žamberk,5315,6973.452447,29.050,240.05,Pardubický kraj
Žatec,4216,7376.107691,27.001,273.18,Ústecký kraj
Železný Brod,5110,2720.054794,12.012,226.44,Liberecký kraj
Židlochovice,6221,7197.667114,33.451,215.17,Jihomoravský kraj
Žďár nad Sázavou,6115,9869.111200,42.399,232.77,Kraj Vysočina

In [3]:
odpady.describe()

         Kod_uzemi  Smesneho_odpadu (t)  Pocet_obyvatel  Prumer (t/1os)
count   205.000000           205.000000      205.000000      205.000000
mean   5109.117073         11784.195778       45.050844      261.199122
std    1884.165534         11932.800520       44.407589       41.434376
min    2101.000000          2168.202281        8.490000      165.920000
25%    3209.000000          5059.200019       19.977000      233.790000
50%    5212.000000          7958.868402       31.175000      252.620000
75%    6218.000000         13632.780844       54.761000      283.340000
max    8122.000000        103696.925848      378.244000      390.280000

In [4]:
# z kraje udělat skupiny:

In [6]:
odpady.groupby("Kraj")