In [1]:
import pandas as pd

In [2]:
tabulka_pokemonu = pd.read_csv("/home/hansc/Jupyter/Cviceni/pokemon.csv")

In [3]:
tabulka_pokemonu

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

In [4]:
vysky = tabulka_pokemonu["height"]
vysky

0      0.7
1      1.0
2      2.0
3      0.6
4      1.1
      ...
802    0.6
803    3.6
804    5.5
805    1.8
806    1.5
Name: height, Length: 807, dtype: float64

In [5]:
type(vysky)

pandas.core.series.Series

In [6]:
vysky[0]     # První výška?

0.7

In [7]:
vysky[-5:]   # Posledních pět výšek?

802    0.6
803    3.6
804    5.5
805    1.8
806    1.5
Name: height, dtype: float64

In [8]:
type(vysky.values)

numpy.ndarray

In [9]:
vysky.dtype

dtype('float64')

In [10]:
cisla = pd.Series([1, 2, 3])
cisla

0    1
1    2
2    3
dtype: int64

In [11]:
cisla.name

In [12]:
cisla.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
cisla.dtype

dtype('int64')

In [14]:
cisla.values

array([1, 2, 3])

In [15]:
cisla.size

3

In [16]:
udalosti_presne = pd.Series(
    ["Nezávislost Československa", "Konec druhé světové války", "Sametová revoluce"],
    index = pd.DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'])
)
udalosti_presne.index

DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'], dtype='datetime64[ns]', freq=None)

In [17]:
pd.DataFrame({
    "cislo": [1, 2, 3],
    "pismeno": ["a", "b", "c"]
})

   cislo pismeno
0      1       a
1      2       b
2      3       c

In [18]:

pd.DataFrame([
        {"jmeno": "máslo", "cena": 42.90},
        {"jmeno": "sýr", "cena": 31.90},
        {"jmeno": "kečup", "cena": 49.90 },   
    ],
    index=["artikl1", "artikl2", "artikl3"]
)

         jmeno  cena
artikl1  máslo  42.9
artikl2    sýr  31.9
artikl3  kečup  49.9

In [19]:
pokemoni = tabulka_pokemonu.set_index("name").sort_index()
pokemoni

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
abomasnow,460,2.2,135.5,white,upright,False,Grass,Ice,90,92,75,60
abra,63,0.9,19.5,brown,upright,False,Psychic,NaN,25,20,15,90
absol,359,1.2,47.0,white,quadruped,False,Dark,NaN,65,130,60,75
accelgor,617,0.8,25.3,red,arms,False,Bug,NaN,80,70,40,145
aegislash,681,1.7,53.0,brown,blob,False,Steel,Ghost,60,50,150,60
...,...,...,...,...,...,...,...,...,...,...,...,...
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [20]:
pokemoni.index

Index(['abomasnow', 'abra', 'absol', 'accelgor', 'aegislash', 'aerodactyl',
       'aggron', 'aipom', 'alakazam', 'alomomola',
       ...
       'zapdos', 'zebstrika', 'zekrom', 'zeraora', 'zigzagoon', 'zoroark',
       'zorua', 'zubat', 'zweilous', 'zygarde'],
      dtype='object', name='name', length=807)

In [21]:
pokemoni[["height", "weight"]]

           height  weight
name
abomasnow     2.2   135.5
abra          0.9    19.5
absol         1.2    47.0
accelgor      0.8    25.3
aegislash     1.7    53.0
...           ...     ...
zoroark       1.6    81.1
zorua         0.7    12.5
zubat         0.8     7.5
zweilous      1.4    50.0
zygarde       5.0   305.0

[807 rows x 2 columns]

In [27]:
pokemoni.loc["abra"]

id              63
height         0.9
weight        19.5
color        brown
shape      upright
is baby      False
type 1     Psychic
type 2         NaN
hp              25
attack          20
defense         15
speed           90
Name: abra, dtype: object

In [28]:
pokemoni.loc["z":]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zangoose,335,1.3,40.3,white,upright,False,Normal,NaN,73,115,60,90
zapdos,145,1.6,52.6,yellow,wings,False,Electric,Flying,90,90,85,100
zebstrika,523,1.6,79.5,black,quadruped,False,Electric,NaN,75,100,63,116
zekrom,644,2.9,345.0,black,upright,False,Dragon,Electric,100,150,120,90
zeraora,807,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143
zigzagoon,263,0.4,17.5,brown,quadruped,False,Normal,NaN,38,30,41,60
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [29]:
pokemoni.loc["z":, "color"]

name
zangoose      white
zapdos       yellow
zebstrika     black
zekrom        black
zeraora      yellow
zigzagoon     brown
zoroark        gray
zorua          gray
zubat        purple
zweilous       blue
zygarde       green
Name: color, dtype: object