In [1]:
import pandas as pd

In [2]:
tabulka_pokemonu = pd.read_csv("/home/hansc/Jupyter/Cviceni/pokemon.csv")

In [3]:
tabulka_pokemonu

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

In [4]:
vysky = tabulka_pokemonu["height"]
vysky

0      0.7
1      1.0
2      2.0
3      0.6
4      1.1
      ...
802    0.6
803    3.6
804    5.5
805    1.8
806    1.5
Name: height, Length: 807, dtype: float64

In [5]:
type(vysky)

pandas.core.series.Series

In [ ]:
vysky[0]     # První výška?

In [6]:
vysky[-5:]   # Posledních pět výšek?

802    0.6
803    3.6
804    5.5
805    1.8
806    1.5
Name: height, dtype: float64

In [7]:
type(vysky.values)

numpy.ndarray

In [8]:
vysky.dtype

dtype('float64')

In [9]:
cisla = pd.Series([1, 2, 3])
cisla

0    1
1    2
2    3
dtype: int64

In [16]:
cisla.name

In [11]:
cisla.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
cisla.dtype

dtype('int64')

In [13]:
cisla.values

array([1, 2, 3])

In [14]:
cisla.size

3

In [17]:
udalosti_presne = pd.Series(
    ["Nezávislost Československa", "Konec druhé světové války", "Sametová revoluce"],
    index = pd.DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'])
)
udalosti_presne.index

DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'], dtype='datetime64[ns]', freq=None)